$headerHeight: 80px;
$headerScrolledTransform: 20px;

$font-sizes: (
	small: 3.4vw,
	mobile: 3.4vw,
	tablet: 1vw,
	desktop: .972vw,
	wide: 14px
);

html {

	// fonts setup
	font-family: DosisWeb;
	@include typo(regular normal darker);
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	@include mq($from: tablet) { text-rendering: geometricPrecision; } // http://css-tricks.com/almanac/properties/t/text-rendering/
	
	// fluid fonts
	font-size: .972vw; // ensure font-size gives ~14px. on desktop
	@include mq($from: wide) { font-size: 14px; }
	@include mq($until: tablet) { font-size: 1vw; }
	@include mq($until: mobile) { font-size: 2.4vw; }

	// general
	position: relative;
	min-height: 100%;
	background-color:color(lighter);
}


body {
	width: 100%;
	height: 100%;
    overflow-x: hidden;

    &.is-loading, &.noscroll {
    	overflow-y: hidden;
    }
}

main {
	display: block;
	margin-top: $headerHeight;

	@include mq($until: tablet) {
		margin-top: $headerHeight - $headerScrolledTransform;
	}
}

.inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 1300px;
	width: 100%;
	@include fluid(padding-left, $desktop: 40, $mobile: 20);
	@include fluid(padding-right, $desktop: 40, $mobile: 20);
}

// #wpadminbar { display: none; }



/* Common classes */
/* --------------------------------------------------------------------------------- */

[data-href], [data-toggleClass] {
	cursor: pointer;
}

[hidden],
.is-hidden {
	display: none;
}

@mixin transition-in() {
	transition: transform 400ms, box-shadow 400ms, color 400ms, background 400ms, border 400ms, fill 400ms;
}

@mixin transition-out() {
	transition: transform 200ms, box-shadow 200ms, color 200ms, background 200ms, border 200ms, fill 200ms;
}

@mixin shadow($top: false) {


	@if $top {
		box-shadow: 0px -25px 50px 0px rgba(0, 0, 0, 0.3)
	}
	@else {
		box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
	}
}

@mixin textShadow($hard: false, $color: lighter) {
	@if $hard {
		text-shadow: 0px 3px 0px color($color);
	}
	@else {
		text-shadow: 4px 5px 20px rgba(0, 0, 0, 0.65);
	}
	
}

@mixin radius($radius: 10px) {
	border-radius: $radius;
}

@mixin textOverflow() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/**
 * Truncates text overflow.
 */

@mixin truncate($boundary: false) {
  @if $boundary {
    max-width: $boundary;
  }
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

