/**
 * Colors map.
 */

$colors: (

	// shades of grey
  lighter: #FFFFFF,
  light: #f0f0f0,
  semilight: #cccccc,
  semidark: #a7a9ac,
  dark: #4d4d4f,
  darker: #414042,

  brand: #ffed00,
  brandSecondary: #fa2bc7,



  red: #e2645a,

  // error & alerts
  error: #cc1e1e,
  errorlight: #f5aaaa,
  success: #008000,
  successlight: #82dc82,
);


/**
 * Front-end function.
 */

@function color($name) {
  @return map-get($colors, $name);
}
