@font-face {
  font-family: DosisWeb;
  src: url(../assets/fonts/Dosis-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: DosisWeb;
  src: url(../assets/fonts/Dosis-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: DosisWeb;
  src: url(../assets/fonts/Dosis-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: DosisWeb;
  src: url(../assets/fonts/Dosis-SemiBold.otf);
  font-weight: 600;
}