.background {
	&-grey {
		$fromGradient: color(light);
		$toGradient: color(lighter);
		background-color: $toGradient;
		background: linear-gradient(to bottom , $fromGradient 0%, $toGradient 100%);
	}
	&-grey2 {
		$fromGradient: color(light);
		$toGradient: color(lighter);
		background-color: $toGradient;
		background: linear-gradient(to bottom , $fromGradient 0%, $toGradient 50%, $fromGradient 100%);
	}


	&-cyan {
		$fromGradient: color(cyan);
		$toGradient: color(cyandarker);
		background-color: $toGradient;
		background: linear-gradient(to right , $fromGradient 0%, $toGradient 100%);
	}
}