@mixin button() {
	@include typo($desktop:center bold lighter);
	@include radius();
	cursor: pointer;
	position: relative;
	white-space: nowrap;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: opacity 0.2s ease;
	&:hover { opacity: 0.7; }

	padding: fluid-value(10) fluid-value(40);
	font-size: fontscale(large);
	@include fluid(font-size, $desktop: fontscale(xlarge), $tablet: fontscale(large))
}
