.date {
	
	&-fixed {
		width: 110px;
		padding: 10px 0;
		border: 1px solid color(darker);
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: color(lighter);

		@include mq($until: mobile) {
			flex-direction: row;
			align-items: flex-start;
			border: 0 none;
		}

		.next & { border-color: color(red); }

		.date-date, .date-time {
			.next & { color: color(red); }
		}
	}

	&-date {
		@include typo(bold darker center);
		font-size: 18px;
		margin-bottom: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;

		@include mq($until: mobile) { flex-direction: row; align-items: flex-start; }

	}
	
	&-day {
		white-space: nowrap; 
	}

	&-time {
		@include typo(tiny thin italic darker);

		@include mq($until: mobile) {
			display: flex;
			&::before {
				content: ' à ';
				display: inline;
				margin: 0 5px;
			}
		}
	}

	&-approx {
		@include typo(tiny italic);
		white-space: nowrap;
		margin-top: 7px;

		.next & { color: color(red); }
	}
}