.form {

	&-message {
		@include typo(small bold center);
		@include fluid(margin-bottom, $desktop: 20);
		background-color: color(lighter);
		@include fluid(padding, $desktop: 10 20);
		display: none;
		align-items: center;
		justify-content: center;

		&.is-success, &.is-error { display: flex; }
		&.is-success { color: color(success); }
		&.is-error { color: color(error); }
	}

	&-input, &-textarea {
		@include fluid(margin-bottom, $desktop: 20);
		@include fluid(padding, $desktop: 15);
		border: 1px solid color(semidark);
		width: 100%;

		.form-error & {
			border-color: color(error);
		}
	}

	&-error {
		&-msg {
			@include typo(xtiny error);
		}
	}


	&-textarea {
		min-height: fluid-value(200);
	}
	&-button {
		@include button();
		margin: 0 auto;
	}
}

textarea, input, button {
	font-family: DosisWeb;
	@include typo(large);
}