.icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    display: inline-block;
}

/** Applied on use and not svg because if not, it breaks..... IE!! WOOT! -_- */
svg use {
  pointer-events: none;
}

// container for all SVG at bottom of page
#svg-store {
  display: none;
}

@mixin animatedIcon($hoverSelector:'', $bgcolor: semidark, $bghover: red, $iconcolor: darker, $iconhover: reddarker, $size: normal) {
	position: relative;
    border-radius: 100%;
    transition: all ease 225ms;
    background-color: color($bgcolor);

    @if $size == small {
        padding: 20px;        
    }
    @else {
        padding: 30px;
    }

    #{$hoverSelector}:hover &,
    #{$hoverSelector}.is-active & {
        background-color: color($bghover);
    }

    .icon {
		position: relative;
    	z-index: 2;
        display: block;
        fill: color($iconcolor);

        @if $size == large {
            width: 100px;
            height: 100px;
        }
        @elseif $size == small {
            width: 40px;
            height: 40px;
        }
        @else {
            width: 50px;
            height: 50px;
        }


        #{$hoverSelector}:hover &,
        #{$hoverSelector}.is-active & {
            fill: color($iconhover);
        }
    }

    &::before {
    	display: block;
    	content: '';
    	position: absolute;
    	z-index: 1;
    	left: 50%; top: 50%;
    	width: 100%; height: 100%;
    	transform: translate(-50%, -50%) scale(0.9);
    	border: 1px solid color($bghover);
        opacity: 0;
    	border-radius: 100%;

		transition-duration: 225ms;
	    transition-property: all;
	    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);

    	#{$hoverSelector}:hover &,
        #{$hoverSelector}.is-active & {
            opacity: 1;
			transform: translate(-50%, -50%) scale(1.15);
	    }
    }
}

@mixin animatedIconRed($selector) {
    @include animatedIcon($selector, reddark, red, lighter, lighter, small);
}