.lightbox {
  display: none;

  position: fixed;
  width: 100%; height: 100%;
  left:0; top: 0;
  overflow-y: scroll;
  background-color: rgba(0,0,0,0.4);

  z-index: 1000;

  &.visible {
    display: block;
  }

  &-overlay {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    z-index: 1010;
  }

  &-container {
    position: relative;
    left: 50%; top: 0;
    transform: translateX(-50%);
    width: 800px;
    max-width: 90%;
    z-index: 1011;

    &::before {
      content: ''; display: block;
      width: 100%; height: 185px;
      background: url(./assets/images/bg_lightboxtop.svg) center bottom no-repeat;
      background-size: cover;
    }

    &::after {
      content: ''; display: block;
      margin-top: -1px;
      width: 100%; height: 185px;
      background: url(./assets/images/bg_lightboxbottom.svg) center top no-repeat;
      background-size: cover;
    }

    
  }
  &-bg {
    width: 100%;
    .icon {
      width: 100%;
      height: auto;
    }
  }

  &-close {
    position: relative;
    cursor: pointer;
    z-index: 1;
    float: right;
    background-color: color(semidark);
    border-radius: 100%;
    padding: 8px;
    transform: translate(50%, -50%);

    .icon {
      fill: color(lighter);
      width: 20px;
      height: 20px;
    }
  }

  &-content {
    position: relative;
    background: color(lighter);
    @include fluid(padding, $desktop: 60 40 100 40);
  }

  &-title {
    @include typo(xlarge center bold);
    @include fluid(margin-bottom, $desktop: 60);
  }

  &-description {
    @include wysiwyg();
  }
}

[data-lightboxid] { display: none; }
