.slider {
	width: 100%;
	@include shadow();
	@include fluid(height, $desktop: 700, $tablet: 800, $mobile: 800);
	max-height: calc(95vh - #{$headerHeight});

	&-item {
		overflow: hidden;

		&-inner {
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center center;
			position: relative;
		}

		&-main {
			@extend .inner;
			position: relative;
			height: 100%;
			
			&-content {
				position: absolute;
				z-index: 1;
				@include fluid(top, $desktop: 50%, $tablet: 45%);
				@include fluid(padding, $desktop: 50 50 80 50, $tablet: 30 30 70 30);
				width: fluid-value(500);
				opacity: 0;
				transition: all 0.5s ease;
				transform: translateY(-50%);

				

				.slider-item:nth-child(2n) & { 
					@include fluid(left, $desktop: 10%, $tablet: 3%, $mobile: 50%);
				}
				.slider-item:nth-child(2n+1) & { 
					@include fluid(right, $desktop: 10%, $tablet: 3%, $mobile: auto); 
					@include fluid(left, $mobile: 50%); 
				}

				.slider-item.slick-current & {
					opacity: 1;
					transform: translate(0,-50%);

					@include mq($until: mobile) {
						transform: translate(-50%, -50%);
					}
				}

				&::before {
					content: '';
					display: block;
					position: absolute;
					top: 0; left: 0;
					width: 100%; height: 100%;
					background: color(purplelight);
					border-radius: 10px;
					opacity: 0.8;
					z-index: -1;
				}
			}
		}
		&-title {
			@include typo($desktop: yellow xxlarge bold, $tablet: xlarge);
			@include fluid(margin-bottom, $desktop: 20);
		}
		&-description {
			@include typo($desktop:lighter large bold, $tablet: normal);
		}
		&-button {
			@include button();
			border-width: 1px;	
			position: absolute;
			bottom: 0;
			right: fluid-value(50);
			transform: translateY(50%);
		}
	}
}