.vc {
	background-color: color(light);

	&-row {
		@include fluid(margin-bottom, $desktop: 100);
		background-size: cover;
		background-position: center;
		display: flex;

		&:last-child { margin-bottom: 0; }

		&-inner {
			display: flex;
			width: 100%;
			.vc-row-centered & { @extend .inner; }
		}
	}
	&-col {
		@include fluid(min-height, $desktop: 400);
	}
	&-wysiwyg {
		@include fluid(padding, $desktop: 40);
		@include typo($desktop: normal);
		height: 100%;
		background-size: cover;
		background-position: center;
		display: flex;
		flex-direction: column;

		&.vertically_centered {
			justify-content: center;
		}

		&-title {
			@include typo(xlarge bold center);
			text-shadow: 4px 5px 20px rgba(0, 0, 0, 0.3);
			border-bottom: 1px solid;
			@include fluid(padding-bottom, $desktop: 20);
			@include fluid(margin-bottom, $desktop: 20);
		}

		&-content {
			h2 {
				@include typo(xxxlarge bold);
				@include fluid(margin-bottom, $desktop: 20);
			}
			p {
				@include fluid(margin-bottom, $desktop: 20);
			}
			a {
				text-decoration: underline;
				&:hover { text-decoration: none; }
			}
			ul, ol {
				@include fluid(margin-bottom, $desktop: 10);
				li {
					@include fluid(margin-left, $desktop: 20);
				}
			}
			ul li {
				list-style: disc outside;
			}
			ol li {
				list-style: decimal outside;
			}
			img {
				max-width: 100%;
				height: auto;
				display: block;
				margin: 0 auto;
			}
			.wp-caption {
				max-width: 100%;
				&-text {
					@include typo(italic small);
				}
			}
		}
	}

	&-slider {
		height: 100%;
		
		// [data-count="1"] & {
		// 	@include fluid(height, $desktop: 700);
		// }

		&-item {
			background-size: cover;
			background-position: center;
			height: 100%;
		}

		&-img {
			height: auto;
		}

		.slick-prev { background-image: url(./assets/images/larr-white.svg); }
		.slick-next { background-image: url(./assets/images/rarr-white.svg); }
	}

	&-video {
		display: flex;
		justify-content: center;
		height: 100%; 

		[data-count="1"] & {
			@include fluid(height, $desktop: 500);
		}

		iframe { 
			width: 100%; 
			height: 100%; 
		}
	}

	&-button {
		display: inline-block;
		text-decoration: none !important;
		@include typo(large bold);
		white-space: nowrap;
		@include fluid(padding, $desktop: 20 40);

	}
}