.actualites {
	// display: flex;

	@include mq($from: wide) {
		display: flex;
	}

	.tweets, .facebook { 
		flex-grow: 1;
		flex-shrink: 0; 
	}

	&-title {
		@include typo(semidark thin xxlarge center);
		@include fluid(margin-bottom, $desktop: 40);
	}


	.facebook {
		@include fluid(margin-bottom, $desktop: 50);
		&-list {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&-post {
			@include fluid(margin-bottom, $desktop: 20);
		}
	}
}