.calendrier {
	// margin-left: 500px;
	padding-left: 40px;
	padding-top: 0;
    width: 700px;
    max-width: 100%;
    margin: 0 auto;

    &::before, &::after {
    	content: ''; display: block;
    	height: 100px;
    	border-left: 10px solid color(darker);
    }

	&-item {
		border-left: 10px solid color(darker);
		margin-top: -1px;
		padding-right: 20px;
	}
	
	&-phase {
		padding-bottom: 40px;

		&-title {
			@include typo($desktop: xxlarge darker bold, $mobile: xlarge);
			@include fluid(line-height, $mobile: 30px);
			@include fluid(padding-left, $desktop: 40px, $mobile: 20px);
			@include fluid(margin-bottom, $desktop: 20);

			position: relative;
			transition: color 0.1s linear;
			.collapsed & { font-style: italic; }
		}

		&-more, &-less {
			position: absolute;
			top: 0;

			@include fluid(left, $desktop: -38px, $mobile: -22px);
			@include fluid(padding, $desktop: 8px, $mobile: 4px);
			@include fluid(border, $desktop: 5px solid, $mobile: 3px solid);
			box-sizing: content-box;
			background-color: color(lighter);
			border-radius: 100%;

			.icon {
				@include fluid(width, $desktop: 40px, $mobile: 20px);
				@include fluid(height, $desktop: 40px, $mobile: 20px);
			}
		}

		&-more { 
			display: none;
			border-color: color(dark);
			.collapsed & { display: flex; }
			.icon { fill: color(dark); }
		}

		&-less { 
			display: flex;
			border-color: color(dark);
			.collapsed & { display: none; }
			.icon { fill: color(dark); }
		}
		&-moretext {
			display: none;
			@include typo(small thin semidark);
			@include fluid(line-height, $desktop: 21px, $mobile: 17px);
			@include fluid(margin-top, $desktop: 20, $mobile: 10px);

			.collapsed & { display: block; }
		}
	}

	&-children {
		.collapsed & {
			display: none;
		}
		.calendrier-item {
			border: 0 none;
			&:last-child {
				padding-bottom: 40px;
			}
		}
	}
	&-etape {
		@include typo(small lighter);
		@include fluid(padding, $desktop: 2 20);
		@include fluid(margin-bottom, $desktop: 20);
		background-color: color(darker);
		width: auto;
		display: inline-block;
	}
	&-event {
		padding: 20px 0;
		@include fluid(min-height, $desktop: 150);
		position: relative;
		display: block;

		&::before {
			content: ''; display: block; position: absolute;
			left: -18px; top: 25px;
			border-radius: 100%;
			width: 20px; height: 20px;
			background-color: color(darker);
			border: 3px solid color(lighter);

		}
		&.next::before { background-color: color(red); }
		&.future::before { background-color: color(semidark); }
		&.time-past::before {
			content: '✔'; display: block; position: absolute;
			font-size: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-color: color(darker);
			color: color(darker);
			background-color: color(lighter);
			border-radius: 100%;

		}

		.date {
			position: absolute;
			right: 100%; top: 20px;
			margin-right: 30px;
			transition: opacity 0.1s linear;

			@include mq($until: mobile) {
				position: relative;
				left: 0; right: auto; top: 0;
				margin-right: 0;
				margin-left: 20px;
			}
		}
		&-main {
			padding-left: 20px;
			transition: opacity 0.1s linear;
		}
		&-title {
			@include typo(large dark bold);
			
			display: flex;
			align-items: baseline;

			@include mq($until: mobile) { flex-direction: column; }

			.next & { color: color(red); }
			.future & { color: color(semidark); }
		}
		&-status {
			@include typo(tiny semilight italic);
			display: flex;
			align-items: center;
			@include fluid(margin-left, $desktop: 20px, $mobile: 0);

			.icon { 
				margin-right: 5px; 
				fill: color(semilight);

				.status-available & { fill: color(red); }
				.status-pending & { fill: color(semidark); }
			}

			.status-available & { color: color(red); }
			.status-pending & { color: color(semidark); }
		}
		&-subtitle {
			@include typo(small thin dark italic);
			.next & { color: color(red); }
			.future & { color: color(semidark); }
		}
		&-metas {
			display: flex;
		}
		&-meta {
			@include typo(semidark tiny);
			margin-right: 10px;
			display: flex;
			align-items: center;

			.icon {
				fill: color(semidark);
				width: 15px;
				height: 15px;
				margin-right: 5px;
			}
		}
		&-more {
			margin-top: 10px;
			display: inline-block;
			padding: 5px 20px;
			background-color: color(semilight);
			border-radius: 6px;
			transition: all 0.2s ease;
			@include typo(small thin darker);

			span { transition: all 0.2s ease; }

			.calendrier-event:hover & {
				background-color: color(semidark);
				
				span {
					margin-left: 20px;
				}
			}
		}
	}
}