.error {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@extend .background-grey2;

	&-heading {
		@include typo(xxxlarge red center);
		@include fluid(margin-bottom, $desktop: 50);
	}
	&-description {
		@include typo(xxlarge bold center);
		max-width: 1100px;
		padding: 0 20px;
	}
}