.expression {
	background-color: color(light);

	&-presentation {
		@include typo(large thin dark center);
		max-width: 800px;
		margin: 0 auto;
		@include fluid(margin-bottom, $desktop: 40);
	}
	.form {
		max-width: 700px;
		margin: 0 auto;
		@include fluid(margin-bottom, $desktop: 100);
	}
	&-title {
		@include typo(xxlarge thin italic semidark center);
		@include fluid(margin-bottom, $desktop: 40);
	}
	&-list {
		column-width: 27em;
		column-gap: 1em;
	}
	&-item {
		@include fluid(margin-bottom, $desktop: 60px);
		display: inline-block;
		width: 100%;
		@include fluid(padding, $desktop: 30 30 60 30);
		position: relative;

		&::before {
			display: block; content: ''; position: absolute;
			right: 20px; bottom: 0;
			transform: translateY(100%);
			width: 0; height: 0; 
			border-left: 0 solid transparent;
			border-right: 40px solid transparent;
			border-top: 40px solid;

		}

		&-title {
			@include typo(large bold);
			@include fluid(margin-bottom, $desktop: 20);
		}
		&-description {
			@include typo(normal);
			@include fluid(margin-bottom, $desktop: 20);
		}
		&-author {
			@include typo(tiny italic);
			@include fluid(margin-bottom, $desktop: 40);
		}

		&-reactions {
			display: flex;
			justify-content: center;
			

			.icon {
				width: 25px; height: 25px;
			}

			&-count {
				position: absolute;
				right: 0; bottom: 0;
				transform: translate(80%,80%);
				@include typo(xtiny semidark);
			}
		}
		&-like {
			margin: 0 10px;
			position: relative;

			.icon {
				fill: none;
				stroke: color(semidark);

			}
			&.has-liked .icon {
				fill: color(semidark);
			}
			
			
		}
		&-comment {
			margin: 0 10px;
			position: relative;
			.icon {
				fill: color(semidark);
			}
		}
		&-comments {
			@include fluid(margin-top, $desktop: 60);
			&-item {
				@include typo(xtiny semidark);
				@include fluid(margin-bottom, $desktop: 10);
			}
			&-more {
				@include typo(xtiny semidark center italic);
				cursor: pointer;
				@include fluid(margin-top, $desktop: 40);
			}
		}
	}
}