.home {
	&-presentation {
		
		background-color: color(light);

		&-inner { 
			@extend .inner; 
			@include fluid(padding-top, $desktop: 40);
			@include fluid(padding-bottom, $desktop: 100);
		}
		&-title {
			@include typo(xxlarge dark bold center);
			@include fluid(margin-bottom, $desktop: 40);
		}
		&-description {
			@include wysiwyg(dark);
		}
	}
}