.livrables {
	display: flex;
	justify-content: center;

	&-phase {
		@include fluid(width, $desktop: 300);
		@include fluid(margin-right, $desktop: 40);
		// white-space: nowrap;
		@include typo(darker xlarge center);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&-list {
		@include fluid(width, $desktop: 500);
		@include fluid(min-height, $desktop: 200);
		border-bottom: 1px solid color(darker);
		@include fluid(padding, $desktop: 40);
		display: flex;
		flex-direction: column;
		justify-content: center;

		.livrables:last-child & { border: 0 none; }
	}
	&-item {
		display: flex;
		align-items: center;
		@include fluid(margin-bottom, $desktop: 20);

		.icon {
			@include fluid(width, $desktop: 70);
			@include fluid(height, $desktop: 70);
			@include fluid(margin-right, $desktop: 20);
			fill: color(semidark);
		}

		&:hover .icon { fill: color(semilight); }

		&-main {}
		&-title { 
			@include typo(darker bold large); 
			.livrables-item:hover & { color: color(semilight); }
		}
		&-subtitle { 
			@include typo(darker italic normal); 
			.livrables-item:hover & { color: color(semilight); }
		}
	}
	&-empty {
		@include typo(semidark italic tiny center);
	}
}