.sondages {
	&-title {
		@include typo(semidark xlarge thin italic center);
		@include fluid(margin-bottom, $desktop: 40);
	}

	&-list {
		@include fluid(margin-bottom, $desktop: 100);
	}

	&-item {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3);
		

		transition: all 0.2s linear;

		&:hover {
			box-shadow: 0 1px 5px 2px rgba(0,0,0,0.3);
		}
		&-main {
			@include fluid(padding, $desktop: 20 40)
		}
		&-title {
			@include typo(dark xlarge);
		}
		&-subtitle {
			@include typo(dark large thin italic);
		}
		&-cta {
			background-color: color(light);
			display: flex;
			align-items: center;


			.icon {
				fill: color(semidark);
				@include fluid(width, $desktop: 70);
				@include fluid(height, $desktop: 70);
				@include fluid(margin, $desktop: 0 20);
			}
		}
	}
}