.sondage {
	background-color: color(light);
	min-height: 80vh;
	@include fluid(padding-bottom, $desktop: 200);

	&-header {
		@extend .inner;
		display: flex;
		@include fluid(padding-top, $desktop: 150);
		@include fluid(padding-bottom, $desktop: 80);
	}
	&-infos {
		flex: 1;
		@include fluid(padding-right, $desktop: 40);
	}
	&-title {
		@include typo(dark xxlarge);
	}
	&-subtitle {
		@include typo(dark large thin italic);
		@include fluid(margin-bottom, $desktop: 20);
	}
	&-description {
		@include typo(dark normal);
	}
	&-metas {}
	&-meta {
		@include fluid(margin-bottom, $desktop: 20);

		&-title {
			@include typo(large dark thin);
			// @include fluid(margin-bottom, $desktop: 20);
		}
		&-content {
			@include typo(small thin dark italic);
		}
	}

	&-axe {
		border-bottom: 3px solid color(semilight);

		&-title {
			@extend .inner;
			@include typo(xxlarge thin center);
			@include fluid(margin-bottom, $desktop: 40);
			@include fluid(margin-top, $desktop: 40);
		}
	}
	&-list {}
}