.timeline {
	// @include fluid(padding-bottom, $desktop: 100);

	.hero {
		@include fluid(margin-bottom, $desktop: 40);
	}
	&-info {
		@extend .inner;
		display: flex;
		@include fluid(margin-bottom, $desktop: 40);
	}

	&-presentation {
		@include fluid(width, $desktop: 70%, $mobile: 100%);
		background-color: color(light);
		@include fluid(padding, $desktop: 40);
		@include fluid(margin-bottom, $desktop: 40);
		@include fluid(margin-right, $desktop: 40, $mobile: 0);

		&-title {
			@include typo(xlarge dark bold center uppercase);
			@include fluid(margin-bottom, $desktop: 10);
		}
		&-content {
			@include wysiwyg();
		}
	}
	&-aside {
		@include fluid(width, $desktop: 30%, $mobile: 100%);

		&-block {
			@include fluid(margin-bottom, $desktop: 40);
		}
		&-title {
			@include typo(xlarge dark thin);
			@include fluid(margin-bottom, $desktop: 20);
		}
		&-content, .date-approx {
			@include typo(normal thin dark italic);
		}
	}
	&-intervenants {}
	&-intervenant {
		@include fluid(margin-bottom, $desktop: 20);

		&-visual {
			float: left;
			@include fluid(width, $desktop: 100);
			@include fluid(height, $desktop: 100);
			@include fluid(margin-right, $desktop: 20);
			border-radius: 100%;
		}
		&-main {}
		&-name {
			@include typo(large bold);
		}
		&-description {
			@include typo(small);
			@include fluid(margin-bottom, $desktop: 10);
		}
		&-link {
			@include typo(tiny red);
		}
	}
	&-livrable {
		@include typo(small italic);
		&:hover { color: color(red); }
	}
	&-dossier {
		@extend .inner;
	}
}