.user {
	
	min-height: 80vh;
	background-color: color(light);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.page-inner {
		max-width: 800px;
	}

	.form {
		max-width: 400px;
		margin: 0 auto;
	}

	&-title {
		@include typo(red xxlarge center bold);
		@include fluid(margin-bottom, $desktop: 20);
	}

	&-description {
		@include typo(large thin dark center);
	}

	&-links {
		@include typo(tiny thin center red);
		@include fluid(margin-top, $desktop: 20);
	}
}