.veille {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 800px;

	&-title {
		@include typo(xxlarge dark center);
		@include fluid(margin-bottom, $desktop: 40);
	}
	&-content {
		@include wysiwyg(dark);
		
	}
	&-author {
		align-self: flex-start;
		@include typo(normal dark italic);
	}
	&-dossier {
		align-self: flex-start;
		@include typo(normal dark italic);
	}
}