.dossier {
	@include fluid(margin-bottom, $desktop: 40);
	position: relative;

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;;
		@include fluid(height, $desktop: 80);
		@include fluid(padding, $desktop: 0 40);
		background-color: color(semidark);
	}

	&-title {
		@include typo(lighter bold xlarge center);
	}

	&-add {
		display: flex;
		align-items: center;
		@include typo(lighter large bold);
		transition: all 0.1s linear;

		.icon {
			fill: color(lighter);
			margin-right: 10px;
			transition: all 0.1s linear;
		}

		&:hover {
			color: color(semilight);
			.icon { fill: color(semilight); }
		}
	}

	&-toggle {
		position: absolute;
		left: 50%; bottom: 10px;
		transform: translateX(-50%);
		@include typo(dark bold normal center);
		transition: all 0.1s linear;

		&:hover { color: color(semidark); }

		.dossier.is-active &-more { display: none; }
		.dossier:not(.is-active) &-less { display: none; }
	}

	.previews {
		border: 1px solid color(semidark);
		@include fluid(padding, $desktop: 20);
		background-color: color(semilight);
	}
}