.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background: color(dark);
	display: flex;
	align-items: center;
	@include shadow(true);
	@include fluid(padding, $desktop: 40 0);

	&-inner {
		@extend .inner;
		display: flex;
		justify-content: space-between;

		@include mq($until: mobile) {
			flex-direction: column;
			padding: fluid-value(40);
		}
	}

	&-item {
		@include fluid(margin, $desktop: 0 2.5% 0 2.5%);
		@include fluid(width, $desktop: 20%, $mobile: 100%);

		.icon {
			width: 30px;
			height: 30px;
			margin-right: 5px;
			fill: color(lighter);
		}
	}
	&-heading {
		@include typo(large bold lighter);
		margin-bottom: 10px;
	}
	&-description {
		@include typo(tiny lighter);
		margin-bottom: 10px;
		li {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}	
	}
}