.header {

	box-shadow: 0px 0px 50px 0px color(dark);
	
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: $headerHeight;
	
	border-bottom: 3px solid;
	transition: all ease 0.2s;
	

	.scrolled & {
		border-bottom-width: 2px;
		transform: translateY(-$headerScrolledTransform);
	}

	@include mq($until: tablet) {
		border-bottom-width: 2px;
		transform: translateY(-$headerScrolledTransform);
	}

	@include mq($until: mobile) {
		justify-content: center;
	}

	&-inner {
		@extend .inner;
		height: 100%;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&-logo {
		position: relative;
		
		img {
			transform-origin: left center;
			height: 100%;
			transition: all ease 0.2s;

			.scrolled & {
				transform: scale(0.7) translateY(33px);
			}
			@include mq($until: tablet) {
				transform: scale(0.7) translateY(33px);
			}
		}
	}

	&-menuToggle {
		display: none;
		@include mq($until: mobile) { display: block; }

		position: absolute;
		top: 65%;
		right: 0;
		transform: translateY(-50%);

		.icon {
			fill: color(lighter);
			height: 30px;
			width: 30px;
			padding: 10px;
			box-sizing: content-box;
		}

		.icon-close { display: none; }

		&.is-active {
			.icon-open { display: none; }
			.icon-close { display: block; }
		}
	}

	&-menu {
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: flex-end;

		padding-right: 50px;

		@include mq($until: mobile) { display: none; }

		.menu {

			&-item {
				@include typo(tiny bold);
			    white-space: nowrap;
				position: relative;

				&.current-menu-item, 
				&.current-page-ancestor,
				.single-timeline &.menu-calendrier,
				.tax-sondage &.menu-sondages {
					@include typo(bold);

					&::after {
						display: block;
						content: '';
						position: absolute;
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);

						// css triangle
						width: 0;
						height: 0;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-bottom: 10px solid;
					}
				}

				a {
					@include fluid(padding, $desktop: 18px 20px 18px 20px, $tablet: 18px 10px 18px 10px);
					display: block;
				}
			}
		}
	}

	&-login {
		align-self: center;
		display: flex;
		align-items: center;
		border-radius: 10px;
		background-color: color(lighter);
		height: 40px;
		padding: 0 10px;
		@include typo(normal red thin);

		@include mq($until: mobile) { display: none; }

		&:hover {
			.icon { fill: color(reddarker); }
		}

		transition: transform 0.2s ease;
		.scrolled & {
			transform: translateY(10px);
		}
	}
}