.hero {
	@include fluid(height, $desktop: 500, $tablet: 500, $mobile: auto);
	width: 100%;
	background-size: cover;
	background-position: center center;
	position: relative;
	border-bottom: 3px solid color(dark);

	&::before {
		content: '';
		display: block;
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		background: url(./assets/images/bgvideo.png) repeat transparent;
	}

	&-main {
		@extend .inner;
		position: relative;
		height: 100%;
		@include fluid(padding, $mobile: 40 20);


		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	&-title {
		@include typo($desktop: xxxlarge lighter thin center, $mobile: xxlarge heavy);
		// @include fluid(line-height, $desktop: 100);
		@include textShadow();
		@include fluid(margin-top, $desktop: 50);
		white-space: nowrap;
	}
	&-subtitle {
		@include typo($desktop: xlarge lighter bold center, $mobile: large);
		@include textShadow();
		white-space: nowrap;
	}

	.date {
		position: absolute;
		right: fluid-value(20); 
		top: fluid-value(50);
		transform: scale(1.3);
	}
}