.loading {
	position: fixed;
	z-index: 2000;
	left: 0; top: 0;
	width: 100%; height: 100%;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s linear;
	background: color(red);

	.is-loading & {
		opacity: 1;
		pointer-events: initial;
	}

	&::before {
		content: ''; display: block; position: absolute;
		left: 50%; top: 50%;
		$fromGradient: rgba(255, 255, 255, 1);
		$toGradient: rgba(255, 255, 255, 0);
		$diameter: 200px;
		height: $diameter;
		width: $diameter;
		left: 50%; top: 50%;
		transform: translate(-50%, -50%) scale(1.6);
		background: radial-gradient(circle $diameter/2 at center , $fromGradient 0%, $toGradient 100%);
		border-radius: 100%;
		transform-origin: center center;
	}

	&-logo {
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
	}
}