.map {
	position: relative;

	&-info {
		background: color(lighter);
		@include radius();
		@include fluid(padding, $desktop: 30);
		@include typo(xlarge purplelight);
		border: 1px solid color(purplelight);
		position: absolute;
		left: 50%; top: 10%;
		transform: translateX(-50%);
		z-index: 1;
	}

	&-container {
		height: 500px;
		width: 100%;
	}
}