.menuMobile {
	display: none;
	@include mq($until: mobile) { display: block; }

	position: fixed;
	left: 0; top: 0;
	height: 100%;
	width: fluid-value(500);
	overflow-y: scroll;
	overflow-x: hidden;
	background: color(dark);
	z-index: 1000;
	padding: 20px;

	transform: translateX(-100%);
	transition: transform 0.2s ease;
	&.is-visible { transform: translateX(0); }

	.menu-item {
		@include typo(lighter xlarge);
		margin-bottom: 10px;
	}

	.sub-menu {
		padding-left: 20px;
		border-left: 1px solid color(light);
		margin: 10px 0;
	}
}