.partners {

	position: absolute;
	width: 100%;
	left: 0; top: $headerHeight;
	z-index: 1;
	background-color: rgba(255,255,255,0.7);

	@include fluid(padding, $desktop: 20 0);

	&-inner {
		@extend .inner;
	}
	&-text {
		@include typo(large dark center);
	}
	&-list {
		display: flex;
		justify-content: space-around;
	}
	&-item {
		display: block;
	}
	&-visual {
		@include fluid(height, $desktop: 50);
		width: auto;
	}
}