.preview {
	@include fluid(width, $desktop: 30%, $mobile: 100%);
	@include fluid(height, $desktop: 300, $mobile: 300);
	@include fluid(margin, $desktop: 0 1.5% 40 1.5%, $mobile: 0 0 20 0);
	border: 1px solid color(semidark);
	display: flex;
	flex-direction: column;
	transition: all 0.1s linear;

	background-size: cover;
	background-position: center;

	&:hover {
		// border-color: color(dark);
	}

	&:nth-child(n+4) {
		display: none;

		.is-active & {
			display: flex;
		}
	}
	
	&-header {
		flex: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: color(light);

		.has-bgimage & { 
			background-color: rgba(0,0,0,0.3); 
		}
	}
	&-title {
		@include typo(dark bold xlarge center);
		transition: all 0.1s linear;		
		padding: 0 20px;

		.has-bgimage & { 
			color: color(lighter); 
			@include textShadow();
		}
	}
	&-subtitle {
		@include typo(semidark regular large);
		transition: all 0.1s linear;
		.preview:hover & { color: color(dark); }
	}
	&-more {
		flex: 1;
		background-color: color(lighter);
		@include typo(semidark italic normal);
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.1s linear;
		position: relative;

		.icon {
			fill: color(semidark);
			position: absolute;
			right: 10px; top: 50%;
			transform: translateY(-50%);
			transition: all 0.1s linear;

			.preview:hover & { fill: color(dark); }
		}
		.preview:hover & { color: color(dark); }
	}
	&-add {
		border: 3px solid color(dark);
		@include typo(dark center xlarge bold);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all 0.1s linear;

		.icon {
			@include fluid(width, $desktop: 50);
			@include fluid(height, $desktop: 50);
			@include fluid(margin-bottom, $desktop: 20);
			fill: color(dark);
			transition: all 0.1s linear;
		}

		&:hover {
			border-color: color(semidark);
			color: color(semidark);

			.icon { fill: color(semidark); }
		}
	}
}