.proposition {	
	&:last-child { border-bottom: 0 none; }

	&-header {
		background-color: color(lighter);
		border-bottom: 1px solid color(semilight);
		@include fluid(height, $desktop: 100px);
		cursor: pointer;
		
		&-inner  {
			@extend .inner;
			display: flex;
			height: 100%;
			align-items: center;
		}
	}
	&-visual {
		height: 100%;
		
	}
	&-title {
		@include typo(xlarge bold);
		@include fluid(padding, $desktop: 0 20);
		flex: 1;
	}
	&-more {
		@include typo(tiny semilight);
		@include fluid(margin-left, $desktop: 10);
		flex: 1;
		transition: all 0.1s linear;
		display: inline-block;
		transform-origin: center center;

		.proposition:hover & {
			color: color(dark);
		}
		.proposition.is-active & {
			transform: scaleY(-1);
			color: color(dark);
		}
	}
	&-ctas {
		display: flex;
		align-items: center;

		&.disabled {
			opacity: 0.7;
			pointer-events: none;
		}
	}
	&-cta {
		display: flex;
		align-items: center;
		flex-direction: column;
		@include typo(tiny thin);
		@include fluid(margin-right, $desktop: 10);

		.sondage-past & { 
			color: color(semidark) !important; 
			font-weight: weight(bold);
			pointer-events: none;
		}



		.icon {
			height: 40px;
			width: 40px;
			fill: color(lighter);
			transition: fill 0.2s linear;
			.sondage-past & { 
				stroke: color(semidark) !important; 
				fill: none !important;
			}
		}
		&[data-vote='up'] {
			color: color(success);
			.icon { 
				stroke: color(success); 
			}
		}
		&[data-vote='up']:hover .icon, &[data-vote='up'].has-voted .icon { fill: color(successlight); }
		&[data-vote='down'] {
			color: color(error);
			.icon { 
				stroke: color(error); 
			}
		}
		&[data-vote='down']:hover .icon, &[data-vote='down'].has-voted .icon { fill: color(errorlight); }

	}

	&-body {
		display: none;
		border-bottom: 1px solid color(semilight);

		&-inner  {
			@extend .inner;
			@include fluid(padding-top, $desktop: 40);
			@include fluid(padding-bottom, $desktop: 40);
		}
	}
	&-content {
		@include wysiwyg(dark);
		@include fluid(margin-bottom, $desktop: 40);
	}
	&-comments {
		&-cta {
			display: flex;
			align-items: center;
			@include typo(large bold dark);
			@include fluid(margin-bottom, $desktop: 20);

			.icon {
				fill: color(dark);
				margin-right: 10px;
				width: 30px; height: 30px;
			}
		}
		&-list {
			@include fluid(margin-bottom, $desktop: 20);
		}
		&-item {
			@include typo(xtiny dark);
			@include fluid(margin-bottom, $desktop: 10);
		}
	}
}