.tweets {
	display: flex;
	flex-direction: column;
	align-items: center;

	&-more {
		@include fluid(margin, $desktop: 20 0);
		@include fluid(height, $desktop: 50);
		display: flex;
		align-items: center;
		&-button {
			display: flex;
			align-items: center;
			@include fluid(padding, $desktop: 0 20);
			@include fluid(height, $desktop: 50);
			border-radius: 10px;
			background-color: color(red);
			@include typo(lighter large bold);

			.is-loading & { display: none; }
		}
		&-loader { 
			display: none; 
			.is-loading & { display: block; }
		}
	}
}
.tweet {
	display: flex;
	margin: 0 auto;

	&-date {
		border-right: 10px solid color(semidark);
		@include fluid(width, $desktop: 300);
		@include fluid(padding-right, $desktop: 40);
		@include fluid(margin-right, $desktop: 40);
		@include typo(semidark large right);
		white-space: nowrap;
	}
	&-main {
		@include fluid(width, $desktop: 500);
	}
	&-author {
		background-color: color(semilight);
		@include fluid(padding, $desktop: 20);
		@include typo(darker bold normal);
		display: flex;
		align-items: center;

		&:hover {
			color: color(semidark);
		}

		&-visual {
			border-radius: 5px;
			@include fluid(margin-right, $desktop: 10);
		}
	}
	&-content {
		@include fluid(padding, $desktop: 0 20 20 20)
		background-color: color(semilight);
		@include typo(dark normal);
		@include fluid(margin-bottom, $desktop: 10);
		a {
			@include typo(darker bold);
			&:hover { color: color(semidark); }
		}
	}
	&-hashtags {
		@include fluid(margin-bottom, $desktop: 30);
		display: flex;
		flex-wrap: wrap;

	}
	&-hashtag {
		@include typo(dark tiny);
		@include fluid(margin-right, $desktop: 5);

		a:hover { color: color(darker); }
	}
}